<mat-toolbar class="info-section">
  <mat-grid-list cols="3" rowHeight="110px">
    <mat-grid-tile [colspan]="1">
      <div class="section-container">
        <img class="fiscalia-img" src="assets/logo.png" alt="Fiscalia General del Estado de Puebla" />
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <div class="section-container">
        <img class="pdn-img" src="assets/pdn.png" alt="PDN" />
        <label class="pdn-text">Plataforma Digital Nacional</label>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <label class="pdn-text">Inteligencia de Datos Anticorrupción</label>
      <img class="libre-uso-img" src="assets/libre-uso-mx-white.png" alt="Libre Uso MX" />
    </mat-grid-tile>
  </mat-grid-list>
</mat-toolbar>
<mat-toolbar class="sna">
  <img src="assets/bid.png" alt="BID" />
  <img src="assets/sna.png" alt="SNA" />
  <img src="assets/sertech.png" alt="Sertech" />
</mat-toolbar>
